#slideshow {
  height: 800px;
  text-align: center;
}

.slideshowImage {
  height: 780px;
  box-shadow: 6px 6px 8px;
}

body {
  text-align: center;
  background-color: #2B2D42;
}
#previous {
  background-color: #161032;
  color: white;
  border: none;
  border-radius: 30%;
  padding: 12px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
#next {
  background-color: #F8333C;
  color: white;
  border: none;
  border-radius: 30%;
  padding: 10px 23px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}
#previous:focus-visible {
  outline: 0;
}
#next:focus-visible {
  outline: 0;
}
