h1 {
  color: red;
}
p {
  color: blue;
}
#p1 {
  font-style: italic;
}
.boldText {
  font-weight: bold;
}
.card {
  background-color: lightgray;
  border: 5px solid grey;
  border-radius: 10px;
  /* offset-x, offset-y, blur-radius, spread radius, color */
  box-shadow: 10px 10px 12px 4px rgba(0, 0, 0, 0.5);
  margin: 24px;
  padding: 48px;
}

.button {
  background: linear-gradient(to bottom, lightgreen, forestgreen);
  border: 3px solid darkgreen;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  margin: 12px;
  padding: 12px 24px;
}

/* pseudo-class */
.button:hover {
  opacity: 0.8;
}

.button:active {
  background: linear-gradient(to bottom, forestgreen, lightgreen);
}
