header {
  background-color: #161032;
  padding-bottom: 0px;
  text-align: center;
  Margin: 0px;
  font-family: Verdana, sans-serif;
}
header img {
  width: 300px;
}
nav ul {
  background-color: #161032;
  list-style-type: none;
  color: white;
  margin: 0px;
  padding: 2px 0px 0px 0px;
}
nav ul li {
  background-color: #161032;
  display: inline-block;
  padding: 4px 10px;
  text-align: top;
}
nav ul li:hover {
  background-color: darkgray;
  color: white;
}
nav ul li:active {
  background-color: #70C5E4;
}
ul li a {
  color: lightgray;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
}
nav ul li:active a {
  color: #161032;
}
main {
  background-color: #3B3E4F;
  margin: 0px 0px;
  padding: 24px;

  position: relative;
}
/* Code for the Logo Placement */
main > img {
  position: absolute;
  left: 50%;
  transform: translateX(-45%) translateY(14%);
  z-index: 10;
}
#quadContainer {
  padding: 6px 2px;
}
#yellowQuad,
#redQuad,
#blueQuad,
#tealQuad {
  float: left;
  width: 50%;
  height: 325px;
}
/* About Me Page CSS */
#yellowQuad2,
#redQuad2,
#blueQuad2,
#tealQuad2 {
  float: left;
  width: 50%;
  height: 325px;
}
#yellowQuad {
  background-color: #FFC145;
}
#yellowQuad img {
  height: 280px;
  opacity: 50%;
  width: 100%;
}
/* About Me Page CSS */
#yellowQuad2 {
  background-color: #FFC145;
}
#yellowQuad2 img {
  height: 280px;
  opacity: 15%;
  width: 100%;
}
/* End About */
#Graphic {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: 24px 0px 10px 10px;
}
#redQuad {
  background-color: #F8333C;
}
#redQuad img {
  height: 280px;
  opacity: 50%;
  width: 100%;
}
/* About Me Page CSS */
#redQuad2 {
  background-color: #F8333C;
}
#redQuad2 img {
  height: 280px;
  opacity: 15%;
  width: 100%;
}
/* End About */
#printBrand {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  margin: 24px 10px 10px 10px;
}
#blueQuad {
  background-color: #70C5E4;
}
#blueQuad img {
  height: 280px;
  opacity: 50%;
  width: 100%;
}
/* About Me Page CSS */
#blueQuad2 {
  background-color: #70C5E4;
}
#blueQuad2 img {
  height: 280px;
  opacity: 15%;
  width: 100%;
}
/* End About */
#webUXUI {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: 6px 0px 10px 10px;
}
#tealQuad {
  background-color: #00B7AF;
}
#tealQuad img {
  height: 280px;
  opacity: 50%;
  width: 100%;
}
/* About Me Page CSS */
#tealQuad2 {
  background-color: #00B7AF;
}
#tealQuad2 img {
  height: 280px;
  opacity: 15%;
  width: 100%;
}
#background {
  color: white;
}
#education {
  color: white;
}
#focus {
  color: white;
}
#awards {
  color: white;
}
p {
  color: lightgray;
  font-family: Verdana, sans-serif;
  font-size: 12px;
}
li {
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 12px;

}
/* End About */
#photoMotion {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align:right;
  margin: 6px 10px 10px 24px;
}
.clear {
  clear: both;
}
footer {
  background-color: #161032;
  margin: 0px;
  padding: 1px 24px;
}
.copywrite {
  font-weight: normal;
  font-size: 10px;
  color: #70C5E4;
  font-family: Verdana, sans-serif;
}
