header {
  background-color: #161032;
  padding-bottom: 0px;
  text-align: center;
  Margin: 0px;
  font-family: Verdana, sans-serif;
}
header img {
  width: 300px;
}
nav ul {
  background-color: #161032;
  list-style-type: none;
  color: white;
  margin: 0px;
  padding: 2px 0px 0px 0px;
}
nav ul li {
  background-color: #161032;
  display: inline-block;
  padding: 4px 10px;
  text-align: top;
}
nav ul li:hover {
  background-color: darkgray;
  color: white;
}
nav ul li:active {
  background-color: #70C5E4;
}
ul li a {
  color: lightgray;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
}
nav ul li:active a {
  color: #161032;
}
main {
  background-color: #3B3E4F;
  margin: 0px 0px;
  position: relative;
}
main > img {
  position: absolute;
  left: 50%;
  transform: translateX(-45%) translateY(-6%);
  z-index: 10;
}
#quadContainer {
  padding: 34px 24px;
}
#yellowQuad,
#redQuad,
#blueQuad,
#tealQuad {
  float: left;
  width: 50%;
  height: 325px;
}
#yellowQuad {
  background-color: #FFC145;
}
#yellowQuad img {
  height: 280px;
  opacity: 40%;
  width: 100%;
}
#Graphic {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: 10px 0px 24px 10px;
}
#redQuad {
  background-color: #F8333C;
}
#redQuad img {
  height: 280px;
  opacity: 40%;
  width: 100%;
}
#printBrand {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: 10px 10px 24px 0px;
}
#blueQuad {
  background-color: #70C5E4;
}
#blueQuad img {
  height: 280px;
  opacity: 40%;
  width: 100%;
}
#webUXUI {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: 0px 0px 10px 24px;
}
#tealQuad {
  background-color: #00B7AF;
}
#tealQuad img {
  height: 280px;
  opacity: 40%;
  width: 100%;
}
#photoMotion {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin: 0px 10px 10px 24px;
}
.clear {
  clear: both;
}
footer {
  background-color: #161032;
  margin: 0px;
  padding: 20px;
}
